<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.book.dao.mapper.NavigationMapper">

    <resultMap id="NavigationDTO" type="org.example.book.dao.entity.Navigation">
        <result property="id" column="id" jdbcType="BIGINT"></result>
        <result property="href" column="href" jdbcType="VARCHAR"></result>
        <result property="type" column="type" jdbcType="VARCHAR"></result>
    </resultMap>

    <select id="addList" parameterType="java.util.List">
       INSERT href,type VALUES
       <foreach collection="list" item="item" separator=",">
           (#{item.href},#{item.type})
       </foreach>
    </select>

</mapper>
